In [ ]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)
library(readxl)

In [ ]:
#read_excel("data/data.xlsx")
data1<-read_csv("data/data.csv", skip=1)
 colnames(data1)<-make.names(colnames(data1))

data1

In [ ]:
data2<-read_csv("data/data2.csv", skip=1)
 colnames(data2)<-make.names(colnames(data2))
data2<-data2|>
    select(Incubation.temperature, Total...embryos.in.dish, Max..developmental.stage.reached)|>
        mutate(Total...embryos.in.dish=as.numeric(Total...embryos.in.dish))
data2
a<-data2|>group_by(Incubation.temperature)|>summarize(sum=sum(Total...embryos.in.dish))
a

data22<-data2|> group_by(Incubation.temperature,Max..developmental.stage.reached)|>
summarize(sum=sum(Total...embryos.in.dish))
data22

In [ ]:
data3<-read_csv("data/data3.csv", skip=1)
 colnames(data3)<-make.names(colnames(data3))
data3<-data3|>select(Time.of.observation:Max..developmental.stage.reached)
data3
#b<-data3|>group_by(Incubation.temperature)|>summarize(sum=sum(Total...embryos.at.each.stage))
#b
#data33<-data3|> group_by(Incubation.temperature,Max..developmental.stage.reached)|>
#summarize(sum=sum(Total...embryos.in.dish))
#data33

#data333<-data3|> mutate(Max..developmental.stage.reached = stringr::str_remove(Max..developmental.stage.reached, pattern = "\\s"))
#group_by(Max..developmental.stage.reached)|>summarize(sum=sum(Total...embryos.in.dish))
#data333

In [ ]:
data333<-data3|> mutate(Max..developmental.stage.reached = stringr::str_remove(Max..developmental.stage.reached, pattern = "\\s"))
#group_by(Max..developmental.stage.reached)|>summarize(sum=sum(Total...embryos.in.dish))

data333<-data333|> mutate(Max..developmental.stage.reached = stringr::str_remove(Max..developmental.stage.reached, pattern = "\\s"))
#group_by(Max..developmental.stage.reached)|>summarize(sum=sum(Total...embryos.in.dish))
data333
data18<-data333|>if(Incubation.temperature==18) {mutate(Total...embryos.at.each.stage=Total...embryos.at.each.stage/597)}
else {mutate(Total...embryos.at.each.stage=Total...embryos.at.each.stage/5}

data34<-data333|> group_by(Max..developmental.stage.reached,Incubation.temperature)|>
summarize(sum=sum(Total...embryos.at.each.stage))#|>
#filter(Max..developmental.stage.reached != NA)
data34

# pearson chi sq contengency table
# survial rate for 23 vs 18

In [ ]:
df<-data.frame(
    "Temprature"=c("18C","23C"),
    "Lost"=c(571,543),
    "Alive"=c(26,17)
    )


df2<-data.frame(
    "Temprature"=c("18C","23C"),
    "Lost%"=c(571/597,543/560),
    "Alive%"=c(26/597,17/560),
    "Total"=c(597,560)
    )

modifiedDf<-as.matrix(df)
modifiedDf
df2
datatable <- matrix(c(571,543,26,17),nrow=2,ncol=2)
datatable
#datatable
chisq.test(datatable,correct=FALSE)

#table<-as.table(modifiedDf)
#modifiedDf
#table

df2<-data.frame(
    "Temprature"=c("18C","23C","18C","23C"),
    "percent"=c(571/597,543/560,26/597,17/560),
    "Stat"=c('dead','dead', 'live','live')
    )
#mosaicplot(table)
#chisq.test(table)

In [ ]:
df3<-data.frame(
    "Temperature"=c("18C","23C","18C","23C"),
    "percent"=c(571/597,543/560,26/597,17/560),
    "Stat"=c('dead','dead', 'live','live')
    )
df3

In [ ]:
ggplot(df3, aes(x=Temperature, y=percent, fill=Stat))+
geom_bar(stat="identity", position = position_dodge())+
scale_y_break(c(0.25,0.8))
#labs(x="Time After Fertilization (Hours)", y= 'Stage of Development', color='Incubation\nTemperature')+
#scale_color_discrete(labels=c('18°C','23°C'))+
#scale_x_continuous(limits=c(0,80),breaks=seq(0,80,24))

different degrees do not affect the death rate