In [42]:
library(tidyverse)
library(repr)
options(repr.matrix.max.rows = 6)
library(readxl)

In [43]:
#read_excel("data/data.xlsx")
data1<-read_csv("data/data.csv", skip=1)
 colnames(data1)<-make.names(colnames(data1))
data1<-data1|>
data1

ERROR: Error in parse(text = x, srcfile = src): The pipe operator requires a function call as RHS

In [44]:
data2<-read_csv("data/data2.csv", skip=1)
 colnames(data2)<-make.names(colnames(data2))
data2<-data2|>
    select(Incubation.temperature, Total...embryos.in.dish, Max..developmental.stage.reached)|>
        mutate(Total...embryos.in.dish=as.numeric(Total...embryos.in.dish))
data2
a<-data2|>group_by(Incubation.temperature)|>summarize(sum=sum(Total...embryos.in.dish))
a

data22<-data2|> group_by(Incubation.temperature,Max..developmental.stage.reached)|>
summarize(sum=sum(Total...embryos.in.dish))
data22

New names:
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
Rows: 71 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): Student ID, Total # embryos in dish, Max. developmental stage reach...
dbl (1): Incubation temperature
lgl (4): ...6, ...7, ...8, ...9

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in mask$eval_all_mutate(quo):
“NAs introduced by coercion”

   Incubation.temperature Total...embryos.in.dish
1  18                     13
2  18                     28
3  18                     30
⋮  ⋮                      ⋮
69 23                     33
70 NA                     NA
71 NA                     NA
   Max..developmental.stage.reached
1  7 to 8
2  7 to 8
3  N/A
⋮  ⋮
69 7 to 8
70 NA
71 NA

  Incubation.temperature sum
1 18                     571
2 23                     543
3 NA                      NA

`summarise()` has grouped output by 'Incubation.temperature'. You can override
using the `.groups` argument.

  Incubation.temperature Max..developmental.stage.reached sum
1 18                     7 to 8                           527
2 18                     N/A                               44
3 23                     7 to 8                           501
4 23                     N/A                               42
5 NA                     NA                                NA

In [45]:
data3<-read_csv("data/data3.csv", skip=1)
 colnames(data3)<-make.names(colnames(data3))
data3<-data3|>select(Time.of.observation:Max..developmental.stage.reached)
data3
#b<-data3|>group_by(Incubation.temperature)|>summarize(sum=sum(Total...embryos.at.each.stage))
#b
#data33<-data3|> group_by(Incubation.temperature,Max..developmental.stage.reached)|>
#summarize(sum=sum(Total...embryos.in.dish))
#data33

#data333<-data3|> mutate(Max..developmental.stage.reached = stringr::str_remove(Max..developmental.stage.reached, pattern = "\\s"))
#group_by(Max..developmental.stage.reached)|>summarize(sum=sum(Total...embryos.in.dish))
#data333

New names:
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
Rows: 39 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): Lab section, Time of observation, Max. developmental stage reached,...
dbl (2): Incubation temperature, Total # embryos at each stage
lgl (3): ...9, ...10, ...11

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   Time.of.observation              Incubation.temperature
1  24 hrs post-fertilization (p.f.) 18
2  24 hrs p.f.                      18
3  24 hrs p.f.                      23
⋮  ⋮                                ⋮
37 NA                               NA
38 NA                               NA
39 NA                               NA
   Total...embryos.at.each.stage Max..developmental.stage.reached
1   5                            11 to 11.5
2  21                            12 to 12.5
3   6                            19 to 20
⋮  ⋮                             ⋮
37 NA                            NA
38 NA                            NA
39 NA                            NA

In [60]:
data333<-data3|> mutate(Max..developmental.stage.reached = stringr::str_remove(Max..developmental.stage.reached, pattern = "\\s"))
#group_by(Max..developmental.stage.reached)|>summarize(sum=sum(Total...embryos.in.dish))

data333<-data333|> mutate(Max..developmental.stage.reached = stringr::str_remove(Max..developmental.stage.reached, pattern = "\\s"))
#group_by(Max..developmental.stage.reached)|>summarize(sum=sum(Total...embryos.in.dish))
data333

data34<-data333|> group_by(Max..developmental.stage.reached,Incubation.temperature)|>
summarize(sum=sum(Total...embryos.at.each.stage))#|>
#filter(Max..developmental.stage.reached != NA)
data34

   Time.of.observation              Incubation.temperature
1  24 hrs post-fertilization (p.f.) 18
2  24 hrs p.f.                      18
3  24 hrs p.f.                      23
⋮  ⋮                                ⋮
37 NA                               NA
38 NA                               NA
39 NA                               NA
   Total...embryos.at.each.stage Max..developmental.stage.reached
1   5                            11to11.5
2  21                            12to12.5
3   6                            19to20
⋮  ⋮                             ⋮
37 NA                            NA
38 NA                            NA
39 NA                            NA

`summarise()` has grouped output by 'Max..developmental.stage.reached'. You can
override using the `.groups` argument.

   Max..developmental.stage.reached Incubation.temperature sum
1  11to11.5                         18                      5
2  12to12.5                         18                     21
3  18to19                           18                      2
⋮  ⋮                                ⋮                      ⋮
9  33to35                           23                     11
10 42                               23                      6
11 NA                               NA                     NA

pearson chi sq contengency table

In [39]:
df<-data.frame(
    "Temprature"=c("18C","23C"),
    "Lost"=c(571,543),
    "Alive"=c(26,17)
    )


df2<-data.frame(
    "Temprature"=c("18C","23C"),
    "Lost%"=c(571/597,543/560),
    "Alive%"=c(26/597,17/560),
    "Total"=c(597,560)
    )

modifiedDf<-as.matrix(df)
modifiedDf
df2
datatable <- matrix(c(571,543,26,17),nrow=2,ncol=2)

#datatable
chisq.test(datatable,correct=FALSE)

#table<-as.table(modifiedDf)
#modifiedDf
#table

#mosaicplot(table)
#chisq.test(table)

     Temprature Lost Alive
[1,] 18C        571  26
[2,] 23C        543  17

  Temprature Lost.     Alive.     Total
1 18C        0.9564489 0.04355109 597
2 23C        0.9696429 0.03035714 560

	Pearson's Chi-squared test

data:  datatable
X-squared = 1.4057, df = 1, p-value = 0.2358

In [40]:
different degrees do not affect the death rate

ERROR: Error in parse(text = x, srcfile = src): <text>:1:11: unexpected symbol
1: different degrees
              ^

In [41]:
xompare to normal development and say how much faster it is 
higher developmental rate

ERROR: Error in parse(text = x, srcfile = src): <text>:1:9: unexpected symbol
1: xompare to
            ^